@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&display=swap');
/* Usams o @import para importar uma fonte externa, no nosso caso agora, do google */

body {
    font-family: "Smooch Sans";
}

h2 {
    text-align: center;
}

/* Contem todas as 8 caixas do nosso jogo */
.container {
    margin: 0 auto;
    max-width: 240px; 
    padding: 20px;
    border-radius: 10px;
    background-color: bisque;
    border: 3px solid grey;
}

/* Como as celulas irão ser posicionadas, o wrap, quebra a linha, quando não couber mais na largura */
.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; /* espaçadas de uma forma igual */
}

.celula {
    width: 75px; /*Altura*/
    height: 65px; /*Largura*/
    font-size: 30pt; /*Tamanho da Fonte*/
    margin: 4px 2px; /*Margem entre elas*/
    font-weight: 300; /*Espessura das fontes*/
    padding-top: 10px; /*espaçamento interno*/
    border-radius: 3px;
    text-align: center; /*todo X e O ficarão no centro das celulas*/
    background-color: darksalmon;
}